body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: hsl(0, 2%, 38%);
}

.login-box {
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #000;
}

.login-box h2 {
	text-align: center;
	margin-bottom: 30px;
}

.login-box label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.login-box input[type="text"], 
.login-box input[type="password"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.2);
	color: #000;
}

.login-box input[type="submit"] {
	width: 100%;
	background: none;
	border: 2px solid #000;
	padding: 10px;
	color: #000;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.login-box input[type="submit"]:hover {
	background: #000;
	color: #fff;
}

.login-box p {
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
}

.login-box a {
	color: #fff;
	text-decoration: none;
}
