* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: sans-serif;
	background: #f1f1f1;
  }
  
  .login-box {
	width: 320px;
	height: 420px;
	background: #fff;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	padding: 70px 30px;
  }
  
  h2 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
  }
  
  .login-box label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
  }
  
  .login-box input, .login-box select {
	width: 100%;
	margin-bottom: 20px;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
  }
  
  .login-box input[type="submit"], .login-box a {
	display: inline-block;
	background: #000;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
  }
  
  .login-box a {
	margin-left: 20px;
  }
  
  .login-box input[type="submit"]:hover, .login-box a:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
  }
  