/* Establecer el fondo blanco para todo el documento */
body {
    background-color: #fff;
  }
  
  /* Establecer la fuente principal y los colores */
  body, h1, h2, h3, h4, h5, h6, a {
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  /* Establecer el estilo de enlace para los enlaces */
  a {
    text-decoration: none;
    border-bottom: 2px solid #87CEEB;
    transition: border-bottom 0.2s ease-in-out;
  }
  
  a:hover {
    border-bottom: 2px solid #fff;
  }
  
  /* Establecer estilos para el encabezado */
  header {
    background-color: #87CEEB;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    max-width: 150px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Establecer estilos para el contenido principal */
  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  main ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  main li {
    margin-bottom: 10px;
  }
  
  main a {
    color: #87CEEB;
  }
  
  main a:hover {
    text-decoration: underline;
  }
  