/* Estilos generales */
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #9400d3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  header img {
    max-width: 150px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav .boton {
    background-color: #ba55d3;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  nav .boton:hover {
    background-color: #8a2be2;
  }
  
  /* Estilos del cuerpo principal */
  main {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
  }
  
  main h1 {
    color: #9400d3;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  main p {
    color: #4b0082;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  main a {
    background-color: #ba55d3;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  main a:hover {
    background-color: #8a2be2;
  }
  