<<<<<<< HEAD
/* Estilo general */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Encabezado */
header {
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icono {
    width: 25px;
    height: 25px;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    color: #0077C0;
}

/* Contenido del encabezado */
.header-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFF;
    border-bottom: 1px solid #EAEAEA;
}

.header-contenido h1 {
    margin: 0;
    font-size: 42px;
    font-weight: bold;
}

.header-contenido p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    background-color: #0077C0;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.btn-1:hover {
    background-color: #005DA3;
}

/* Servicios */
.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.servicios img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.servicios h3 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

.servicios p {
    font-size: 20px;
    text-align: center;
}

/* Detalles de la empresa */
.detalles-de-la-empresa {
    background-color: #F2F2F2;
    padding: 50px;
}

.detalles-de-la-empresa h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ubicacion h3 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

.ubicacion p {
    font-size: 20px;
    text-align: center;
}

.btn-2 {
    display: inline-block;
    background-color: #0077C0;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.btn-2:hover {
    background-color: #005DA3;
}
=======
/* Estilo general */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Encabezado */
header {
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icono {
    width: 25px;
    height: 25px;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    color: #0077C0;
}

/* Contenido del encabezado */
.header-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFF;
    border-bottom: 1px solid #EAEAEA;
}

.header-contenido h1 {
    margin: 0;
    font-size: 42px;
    font-weight: bold;
}

.header-contenido p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    background-color: #0077C0;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

.btn-1:hover {
    background-color: #005DA3;
}

/* Servicios */
.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.servicios img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.servicios h3 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

.servicios p {
    font-size: 20px;
    text-align: center;
}

/* Detalles de la empresa */
.detalles-de-la-empresa {
    background-color: #F2F2F2;
    padding: 50px;
}

.detalles-de-la-empresa h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ubicacion h3 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

.ubicacion p {
    font-size: 20px;
    text-align: center;
}

.btn-2 {
    display: inline-block;
    background-color: #0077C0;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.btn-2:hover {
    background-color: #005DA3;
}
>>>>>>> 5eec95b22b383756a772946a885291e3be0546a3
